body{
  background-color: lightblue;
}

.thing{
  padding: 20px;
  background-color: red;
  opacity: 1;
  transition: opacity linear 0.2s;
}


.toggle{
  transition: opacity linear 0.2s;
}

.enter {
  position: absolute;
  opacity: 0.01;
}


.toggle-icon-root{
  position: relative;
}
.enter.enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.leave {
  position: absolute;
  opacity: 1;
}

.leave.leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}